.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-none {
  display: none !important;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-center {
  justify-self: center;
}

.align-self-center {
  align-self: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.h-100vh {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.gap-10 {
  gap: 10px
}

.gap-20 {
  gap: 20px
}

.mw-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-0 {
  margin: 0 !important;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.mt-0 {
  margin-top: 0 !important;
}

.ml-10 {
  margin-left: 10px;
}

.mh-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.p-10 {
  padding: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}
